<%= form_for [@product, @comment] do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div id="rating-form">
  </div>
  <%= f.text_area :content, class: "form-control" %>
  <%= f.submit t("update"), class: "btn btn-primary" %>
<% end %>
